.App {
	text-align: center;
}

/* FORECAST */

.forecast {
	display: inline-block;
	height: 20;
	margin: '30';
	flex-direction: row;

	justify-content: center;
}
div.sendicon:hover {
	background-color: rgb(241, 241, 250);
	border-radius: 50%;
}

.forecast__form {
	display: flex;
	flex-direction: row;

	justify-content: center;
}

.forecast_input {
	padding: 3px;
	display: block;
	margin: 0 auto;
	font-size: large;
}

/* TOPFORECAST */

.topCard {
	object-fit: contain;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	overflow-x: scroll;
}
.topCard::-webkit-scrollbar {
	display: none;
}

.topforecast {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: max-content;
}

.topforecast_highlight {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: max-content;
	border: 2px solid;
	border-color: rgb(2, 90, 90);
}

.topforecast__div {
	padding: 20px;
	align-items: center;
}

/* CHART */

.chart {
	display: flex;
	justify-content: center;

	padding: 20px;
}

.chart__wrapper {
	display: 'relative';
}

.chat__line {
	position: absolute;
	overflow-y: hidden;
	overflow-x: scroll;
	width: 300px;
}
.chart__line::-webkit-scrollbar {
	display: none;
}

.chart__top {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 20px;
}

.chart__humidity {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.chart__sunrise {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.chart__head {
	padding: 10px;
}

.chart__humid__head {
	background-color: rgb(236, 247, 247);
	margin-left: 10px;
	padding: 10px;
	font-weight: 600;
	width: auto;
}
